body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
  }
  .main-doc, header{
    font-size: 25px;
    font-weight: bold;
  }
  
  .main-doc, p,ul,li{
    padding-left:15px;
  }
  #navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    overflow-y: auto;
  }
  
  #navbar header {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .nav-link {
    display: block;
    color: #fff;
    text-decoration: none;
    margin: 10px 0;
    padding: 10px;
    transition: background 0.3s;
  }
  
  .nav-link:hover {
    background-color: #575757;
  }
  
  #main-doc {
    margin-left: 270px;
    padding: 20px;
  }
  
  .main-section {
    margin-bottom: 20px;
  }
  
  code {
    background-color: #f4f4f4;
    padding: 5px;
    border-radius: 5px;
    display: block;
    margin: 10px 15px;
  }
  
  ul {
    list-style: inside square;
    margin: 10px 0;
    padding: 0;
    padding-left: 15px;
  }
  
  
  @media (max-width: 768px) {
    #navbar {
      position: static;
      width: 100%;
      height: auto;
      padding: 10px;
    }
  
    #main-doc {
      margin-left: 0;
      padding: 10px;
    }
  }